extends layout

block content
  input#search(type='search', placeholder='Search Feedly')
  p#githublink
    a(href="https://github.com/uraway/FeedlySearch") Source code
  p#mywebpage
    a(href="http://uraway.hatenablog.com/") My Web page
  h2#results


  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
